# This is an example of .env file. You should replace the values with your actual API key and database path.
OPENROUTER_API_KEY=your_api_key_here    #Example: sk-or-v1-xxxxxxxxxxxxxxx  (Your openrouter API key goes here)
DB_PATH=local_database.db  #You can change this to your desired database path if needed. (Default is local_database.db)